<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body class="loggedin" style="background-color: #2f3947;">
    <nav class="navtop" style="background-color: #11151b;">
        <div>
            <h1 style="color: darksalmon; font-size: larger; font-weight:900; font-family: Verdana, Geneva, Tahoma, sans-serif;">medAI</h1>
           <!-- <h6 style="padding-top: 12px; color: white;">Welcome back, {{ username }}!</h6>  --> 
            <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
            <a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
            <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
        </div>
    </nav>

    <form action="/spky" method="POST">
    
        <div>
            <textarea name='texting' rows="3" cols="80"
                style="border-radius: 5px;float: left; margin-left: 25%; margin-top: 10px; margin-bottom: 10px;">
            	{{ translated }}</textarea>
            
    <a style="text-decoration: solid; color: rgb(240, 235, 235); font-size: 14px; padding-left: 10px;">Source</a>
            <select name="source">
            <option value="en">English</option>
            <option value="yo">Yoruba</option>
            <option value="ig">Igbo</option>
            <option value="ha">Hausa</option>
            </select>
            <button class="w3-button w3-black w3-padding-28 w3-large w3-margin-top w3-margin">SPEAK</button>
        </div>
    </form>
    <div style="padding-left: 20%;"><p style="color: red;">{{ msg }}</p></div>
    <div class="content">

        {% block content %}{% endblock %}
    </div>
</body>

</html>