<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Model</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
			integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
	<body>


		<!-- Navbar -->
		<div class="w3-top" style="background-color: rgb(64, 133, 133); align-items: right;">
			<div class="w3-bar w3-card w3-right-align w3-large">
				<a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white"
					href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
						class="fa fa-bars"></i></a>
			<div class="selectgroup">
				
			</div>

			<form action="/spky" method="POST">
		
				<div>
					
<textarea name = 'texting' rows="1" cols="50" style="border-radius: 5px;float: left; margin-left: 30%; margin-top: 20px;">
	Input text: {{ request.form['texting'] }}</textarea>
						<a style="text-decoration: solid; color: rgb(226, 238, 237); font-size: 14px; padding-left: 30px;">Destination</a>
						<select name="destination">
							<option value="English">English</option>
							<option value="Yoruba">Yoruba</option>
							<option value="Igbo">Igbo</option>
							<option value="Hausa">Hausa</option>
						</select>
					<button class="w3-button w3-black w3-padding-28 w3-large w3-margin-top w3-margin">SPEAK</button>
				</div>

				
			</form>
			
			</div>
			
		</div>

			
			<div class="login" style="margin-top: 10%;">

					<div class="jumbotron m-3" style="padding-bottom: 2px; padding-top: 4px; padding-right: 2px; background-color: white;">
						<textarea name ="text" rows="6"  cols="95" style="border-radius: 5px;">{{ result }}</textarea>
					</div>

			<form action="/yor" method="POST">

				<div class="login2">
				<a style="text-decoration:solid; color: rgb(12, 112, 104); font-size: 14px; padding-left: 25px;"> FROM</a>
				<select name="sourc">
					<option value="Yoruba">Yoruba</option>
					<option value="English">Engish</option>
					<option value="Igbo">Igbo</option>
					<option value="Hausa">Hausa</option>
				</select>
				
				<a style="text-decoration: solid; color: rgb(12, 112, 104); font-size: 14px; padding-left: 30px;"> TO </a>
				<select name="destination">
					<option value="English">English</option>
					<option value="Yoruba">Yoruba</option>
					<option value="Igbo">Igbo</option>
					<option value="Hausa">Hausa</option>
				</select>
				</div>
							
				<table>
					
					<tr>
						<textarea name="text" rows="6" cols="95" style="border-radius: 5px;">Enter Text for translation: {{ request.form['text'] }}</textarea>
					</tr>
					<tr>
					<input type="submit" value="Translate">
					</tr>
				</table>
			</form>
		</div>
		</div>
	</body>
</html>